<head>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/trending.css' %}">
</head>

<body>
    <section class="trending-products">
        <div class="trending">
            <div class="trend-com">
                <h2 class="title">Trending Products for You!</h2>
                <div class="view-all">
                    <a class="btn link-best" href="#">View All Products →</a>
                </div>
            </div>
            <div class="product-categories">
                <input type="radio" name="category" id="headphones" value="headphones" checked>
                <label for="headphones">Headphones</label>
                <input type="radio" name="category" id="mens-watches" value="mens-watches">
                <label for="mens-watches">Men's Watches</label>
                <input type="radio" name="category" id="best-laptops" value="best-laptops">
                <label for="best-laptops">Best Laptops</label>
                <input type="radio" name="category" id="digital-cameras" value="digital-cameras">
                <label for="digital-cameras">Digital Cameras</label>
                <input type="radio" name="category" id="wireless-controllers" value="wireless-controllers">
                <label for="wireless-controllers">Wireless Controllers</label>
            </div>

            <!-- Product Grid -->
            <div class="product-grid">
                <!-- Headphones Products -->
                <div class="product-list headphone" data-category="headphones">
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">20%</div>
                            <a href="#" class="wishlist" data-product-id="1">
                                <i class="fas fa-heart"></i>
                            </a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/headphones.png' %}" alt="headphone1">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Headphone</h3>
                                <p class="price">$160.88</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>                    
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">15%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/headphones1.png' %}" alt="Headphone">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Headphone</h3>
                                <p class="price">$89.88</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">10%</div>
                            <a href="#"  class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/headphones2.png' %}" alt="Headphone 3">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Headphone</h3>
                                <p class="price">$189.88</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">25%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/headphones3.png' %}" alt="Headphone 4">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Headphone</h3>
                                <p class="price">$129.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">5%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/headphones4.png' %}" alt="Headphone 5">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Headphone</h3>
                                <p class="price">$75.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">30%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/headphones5.png' %}" alt="Headphone 6">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Headphone</h3>
                                <p class="price">$90.88</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Men's Watches Products -->
                <div class="product-list mens-watches" data-category="mens-watches">
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">15%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/watches.png' %}" alt="Men's Watch 1">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Luxury Gold Watch</h3>
                                <p class="price">$250.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">10%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/watch2.png' %}" alt="Men's Watch 2">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Luxury Gold Watch</h3>
                                <p class="price">$150.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">20%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/watches.png' %}" alt="Men's Watch 3">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Luxury Black Watch</h3>
                                <p class="price">$180.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">25%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/watch3.png' %}" alt="Men's Watch 4">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Sports Smartwatch</h3>
                                <p class="price">$200.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">12%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/watch4.png' %}" alt="Men's Watch 5">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Stainless Steel Watch</h3>
                                <p class="price">$220.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">18%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/watch6.png' %}" alt="Men's Watch 6">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Minimalist Silver Watch</h3>
                                <p class="price">$190.00</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Best Laptops Products -->
                <div class="product-list best-laptops" data-category="best-laptops">
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">20%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/laptop1.png' %}" alt="Best Laptop 1">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Best Laptop 1</h3>
                                <p class="price">$999.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">10%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/laptop03.png' %}" alt="Best Laptop 2">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Best Laptop 2</h3>
                                <p class="price">$799.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">18%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/laptop3.png' %}" alt="Best Laptop 3">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Best Laptop 3</h3>
                                <p class="price">$699.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">25%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/laptop4.png' %}" alt="Best Laptop 4">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Best Laptop 4</h3>
                                <p class="price">$950.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">22%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/laptop5.png' %}" alt="Best Laptop 5">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Best Laptop 5</h3>
                                <p class="price">$900.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">21%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/laptop02.png' %}" alt="Best Laptop 6">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Best Laptop 6</h3>
                                <p class="price">$1999.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Digital Cameras Products -->
                <div class="product-list digital-cameras" data-category="digital-cameras">
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">10%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/camera8.png' %}" alt="Canon EOS Rebel T7 DSLR">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Canon EOS Rebel T7 DSLR</h3>
                                <p class="price">$499.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">8%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/camera2.png' %}" alt="Nikon D3500 DSLR">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Nikon D3500 DSLR</h3>
                                <p class="price">$549.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">15%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/camera3.png' %}" alt="Sony Alpha a6000 Mirrorless">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Sony Alpha a6000 Mirrorless</h3>
                                <p class="price">$649.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">5%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/camera10.png' %}" alt="Panasonic Lumix G7 Mirrorless">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Panasonic Lumix G7 Mirrorless</h3>
                                <p class="price">$799.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">20%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/camera5.png' %}" alt="Fujifilm X-T200 Mirrorless">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Fujifilm X-T200 Mirrorless</h3>
                                <p class="price">$899.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">12%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/camera6.png' %}" alt="Olympus OM-D E-M10 Mark IV">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Olympus OM-D E-M10 Mark IV</h3>
                                <p class="price">$749.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Wireless Controllers Products -->
                <div class="product-list wireless-controllers" data-category="wireless-controllers">
                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">5%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/controller1.png' %}" alt="Sony DualShock 4">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Sony DualShock 4</h3>
                                <p class="price">$59.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">8%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/controller11.png' %}" alt="Xbox Wireless Controller">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Xbox Wireless Controller</h3>
                                <p class="price">$64.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">4%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/controller3.png' %}" alt="Nintendo Switch Pro Controller">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Nintendo Switch Pro Controller</h3>
                                <p class="price">$69.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">12%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/controller4.png' %}" alt="Logitech F710 Wireless Gamepad">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Logitech F710 Wireless Gamepad</h3>
                                <p class="price">$49.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">15%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/controller12.png' %}"
                                alt="Razer Wolverine Ultimate Controller">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">Razer Wolverine Ultimate</h3>
                                <p class="price">$159.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>

                    <div class="product-card">
                        <div class="badge">
                            <div class="discount-badge">9%</div>
                            <a href="#" class="wishlist"><i class="fas fa-heart"></i></a>
                        </div>
                        <div class="pro-img">
                            <img src="{% static 'images/new/controller13.png' %}" alt="SteelSeries Stratus Duo">
                        </div>
                        <div class="product-details">
                            <div class="product-info">
                                <h3 class="head-text">SteelSeries Stratus Duo</h3>
                                <p class="price">$89.99</p>
                            </div>
                            <a href="#" class="add-to-cart">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script src="{% static 'js/trend.js' %}"></script>
</body>