{% extends 'frontend/base.html' %}
{% block stylecss %}
  
{% endblock stylecss %}
{% block content %}
<div class="register-content" aria-label="User">
    <div class="settings-content">
        <a class="num" href="#" role="menuitem"><i class="fas fa-user-cog"></i> Profile Settings</a>
        <a href="#" role="menuitem"><i class="fas fa-wallet"></i> Web3 Wallet</a>
        <a href="#" role="menuitem"><i class="fas fa-history"></i> Orders History</a>
        <a href="#" role="menuitem"><i class="fas fa-book"></i> User Library</a>
        <a href="#" role="menuitem"><i class="fas fa-clock"></i> Browsing History</a>
        <a href="#" role="menuitem"><i class="fas fa-language"></i> Language Settings</a>
        <a href="#" role="menuitem"><i class="fas fa-trash-alt"></i> Clear Cache</a>
        <a href="#" role="menuitem"><i class="fas fa-bell"></i> Notifications</a>
        <a href="#" role="menuitem"><i class="fas fa-user-shield"></i> Privacy Settings</a>
        <a href="#" role="menuitem"><i class="fas fa-desktop"></i> Connected Devices</a>
        <a href="#" role="menuitem"><i class="fas fa-laptop"></i> Device Management</a>
        <a href="#" role="menuitem"><i class="fas fa-clock"></i> Watch Later</a>
        <a href="#" role="menuitem"><i class="fas fa-cog"></i> Content Preferences</a>
        <a href="#" role="menuitem"><i class="fas fa-question-circle"></i> Help Center</a>
        <a href="#" role="menuitem"><i class="fas fa-comments"></i> Live Chat</a>
      </div>
{% endblock %}
