body {
    background: var(--bu-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* ----------------------------Header Styles -----------------------*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

main {
    margin-top: 100px;
}

.navbar.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top {
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

/* --------------------Logo Container styles -----------------*/
.logo-container {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.logo-box {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* 3D Octahedron styles */
.logo-octahedron {
    position: unset;
    width: 35px;
    height: 35px;
    margin-left: 10px;
    transform-style: preserve-3d;
    animation: rotateOctahedron 5s infinite linear;
}

.face {
    position: absolute;
    width: 35px;
    height: 35px;
    background: var(--glass-white);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid var(--border);
    box-shadow: 0 4px 15px var(--glass-shadow);
}

.face:hover {
    color: var(--link-color);
}

.face.front {
    transform: rotateY(0deg) translateZ(17px);
}

.face.back {
    transform: rotateY(180deg) translateZ(17px);
}

.face.right {
    transform: rotateY(90deg) translateZ(17px);
}

.face.left {
    transform: rotateY(-90deg) translateZ(17px);
}

.face.top {
    transform: rotateX(90deg) translateZ(17px);
}

.face.bottom {
    transform: rotateX(-90deg) translateZ(17px);
}

/* Animation */
@keyframes rotateOctahedron {
    0% {
        transform: rotateX(45deg) rotateY(45deg);
    }

    100% {
        transform: rotateX(45deg) rotateY(405deg);
    }
}

.logo-x {
    display: flex;
    align-items: center;
    border: 2px solid var(--link-color);
    border-radius: 8px;
    padding: 3px 7px;
    background-color: var(--bc-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

.logo-x:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--main-color);
    margin-right: 10px;
    transition: color 0.3s ease;
}

.logo-box:hover .logo-text {
    color: var(--link-color);
}

.logo-icon {
    width: 30px;
    height: 30px;
    background-color: var(--link-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-icon:before {
    content: "\f3ed";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

/* Optional animation */
.logo-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    .logo-octahedron {
        width: 30px;
        height: 30px;
    }

    .face {
        width: 30px;
        height: 30px;
        font-size: 1.2rem;
    }

    .logo-text {
        font-size: 1.5rem;
    }

    .face.front {
        transform: rotateY(0deg) translateZ(15px);
    }

    .face.back {
        transform: rotateY(180deg) translateZ(15px);
    }

    .face.right {
        transform: rotateY(90deg) translateZ(15px);
    }

    .face.left {
        transform: rotateY(-90deg) translateZ(15px);
    }

    .face.top {
        transform: rotateX(90deg) translateZ(15px);
    }

    .face.bottom {
        transform: rotateX(-90deg) translateZ(15px);
    }
}

/* ---------------header search bar------------------ */
.header .header-bar-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    flex-grow: 0.8;
    margin: 0 20px;
    background-color: var(--link-color);
    border-radius: 4px;
    align-items: center;
}

.nav-fill {
    display: flex;
    align-items: center;
    width: 100%;
}

#nav-search {
    display: flex;
    width: 100%;
}

#nav-search-bar-form {
    display: flex;
    width: 100%;
}

.option-bar {
    padding: 0.3rem;
    border: 1px solid var(--br-color);
    border-radius: 4px 0 0 4px;
    background-color: var(--text-color);
    color: var(--text-shadow);
    min-width: 6%;
    max-width: 100%;
    height: 38px;
    width: auto;
    white-space: nowrap;
    font-size: 12px;
}

.option-bar option {
    font-size: 12px;
}

#nav-search-bar-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0.2rem;
}

#nav-search-bar-form .nav-fill {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#nav-search-bar-form .nav-fill input[type="text"] {
    padding: 0.4rem;
    border: 1px solid var(--br-color);
    border-left: none;
    border-radius: none;
    flex: 1;
    font-size: 16px;
}

#nav-search-bar-form .nav-right button {
    background-color: var(--link-color);
    border: 1px solid var(--bd-color);
    padding: 0.5rem;
    border-left: none;
    border-radius: 0 4px 4px 0;
    color: var(--bc-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 36px;
    font-size: 16px;
}

#nav-search-bar-form .nav-right button:hover {
    background-color: var(--bd-color);
}

#nav-search-bar-form .nav-right .fas {
    font-size: 16px;
}

/*-------------------- User Navigation --------------------*/
.user-nav {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

/*-------------------------- Cart Styles ----------------*/
#nav-cart {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
}

#nav-cart-count-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#nav-cart-count {
    background-color: var(--link-color);
    color: var(--text-color);
    font-weight: bold;
    padding: 0 6px;
    border-radius: 50%;
    min-width: 20px;
    text-align: center;
    font-size: 14px;
}

.nav-cart-icon {
    font-size: 24px;
}

#nav-cart-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-line-1 {
    font-size: 12px;
}

.nav-line-2 {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-arrow {
    margin-left: 5px;
    font-size: 12px;
}

/*===============Language Dropdown Styles ==============================*/
/* Dropdown Styles */
.language-dropdown {
    position: relative;
    display: inline-block;
}

.language-button {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.language-button #language-code {
    margin-left: 10px;
    /* Space between icon and language code */
    font-size: 14px;
    font-weight: bold;
}

.language-content {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 90px;
}

.language-content a {
    color: var(--text-color);
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    font-size: 13px;
}

.language-content a:hover {
    background-color: var(--hd-color);
}

.language-dropdown:hover .language-content {
    display: block;
}


/* ---------------------settings-contect---------------- */
.settings-dropdown {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.settings-dropdown .fas {
    color: var(--text-color);
}

.settings-button {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 18px;
    cursor: pointer;
}

.settings-content {
    display: block;
    top: 0;
    right: 90%;
    background-color: var(--main-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 220px;
    height: 500px;
    overflow-y: auto;
    padding: 20px;
}

.settings-content a {
    color: var(--text-color);
    padding: 9px 15px;
    display: block;
    text-decoration: none;
    font-size: 14px;
}

.settings-content .num {
    margin-top: 38px;
}

.settings-content a:hover {
    background-color: var(--hd-color);
}



/* ---------------------------- Header Bottom ----------------------------------------- */
.header-bottom {
    background-color: var(--hd-color);
    display: flex;
    align-items: center;
    position: relative;
}

header .navbar-dark .navbar-nav .nav-link {
    color: var(--text-color);
}

header .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--bd-color);
}

.nav-middle {
    padding: 0 10px;
    gap: 10px;
}

.navbar-nav.ms-auto {
    margin-right: 0;
}

.navbar-nav.me-auto {
    margin-left: 0;
}

.navbar-toggler-icon {
    background-image: none;
    width: 20px;
    height: 20px;
    border: 0.5px solid var(--bc-color);
    border-radius: 3px;
}

/*================================ User Bar============= */
.user-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

/* Ensure that the ul inside user-bar is displayed as flex */
.user-bar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    /* Remove default list styles */
}

/* User Bar Links */
.user-bar .nav-link {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.user-bar .nav-link a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    /* Horizontal spacing */
}

/*------------------------------------------ end part of the header styles------------------------------- */