footer {
    width: 100%;
    background: var(--bu-color);
    z-index: 1000;
    bottom: 0;
}

.footer-top {
    display: flex;
    width: 100%;
    gap: 100px;
    background-color: var(--main-color);
    padding: 2rem 1rem;
}

.footer-box {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--hd-color);
    color: var(--text-color);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
}

.footer-logo .logo {
    display: flex;
    align-items: center;
}

.web3-con {
    margin-bottom: 20px
}

.web3-con p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: 600;
}

.web-payment img {
    width: 60px;
    height: 30px;
    margin: 0 10px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.web-payment img:hover {
    filter: none;
}

.footer-payments h3 {
    margin-top: 20px;
    font-size: 20px;
}

.newsletter-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-responsive {
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

/* Style for the title and subscribe text */
.newsletter-box .title-tag {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 10px;
    color: var(--link-color);
}

.newsletter-box .Subscribe-tag {
    font-size: 0.9rem;
}

.newsletter-box {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--secondary-background);
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.newsletter-box form {
    display: flex;
    border: 2px solid var(--link-color);
    border-radius: 8px;
}

/* Input email styles */
.newsletter-box input[type="email"]{
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 8px 0 0 8px;
    width: 100%;
    box-sizing: border-box;
}

/* Button styles */
.newsletter-box button {
    padding: 11px 5px;
    background-color: var(--link-color);
    color: var(--text-color);
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
}

.newsletter-box .subscribe-btn:hover {
    background-color: var(--bg-color);
}

.newsletter-box .channel-options-dropdown {
    position: relative;
}

.newsletter-box .channel-options-dropdown .dropdown-toggle {
    background-color: var(--input-color);
    color: var(--text-color);
    padding: 11px 5px;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.newsletter-box .channel-options-dropdown .dropdown-toggle:hover{
    background-color: var(--input-color);
}

/* Dropdown content styling */
.newsletter-box .channel-options {
    flex-direction: column;
    width: 190px;
}

.newsletter-box .channel-options label {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px;
    font-size: 0.8rem;
}

/* Success/Error Messages */
.newsletter-box .success, .error {
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.newsletter-box .success {
    background-color: var(--input-color);
    color: var(--bg-color);
}

.newsletter-box .error {
    background-color: var(--bc-color);
    color: var(--link-color);
}

.footer-main {
    background: var(--text-shadow);
    width: 100%;
    padding: 2rem 2rem;
}

.footer-main .row{
    gap: 50px;
}

.footer-link,
.footer-support,
.footer-top-box {
    margin-bottom: 30px;
    border-left: 4px solid var(--link-color);
    padding-left: 15px;
}

.footer-link h3,
.footer-support h3,
.footer-top-box h3 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--link-color);
    margin-bottom: 15px;
}

.footer-top-box .footer-online a {
    font-size: 17px;
    color: var(--text-color);
    padding: 3px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.footer-top-box .footer-online a:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
}

.footer-offline p{
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-color);
}

.footer-offline ul {
    font-size: 0.8rem;
    color: var(--text-color);
    list-style: none;
    padding: 0 30px;
}

.footer-offline ul li {
    margin-bottom: 3px;
}

.footer-link a,
.footer-support a {
    display: block;
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-link a:hover,
.footer-support a:hover {
    color: var(--bg-color);
}

.footer-links .to-top{
    display: flex;
    gap: 50px;
}

.footer-links .return-to-top {
    display: flex;
    align-items: center;
    color: var(--text-color);
    background-color: var(--link-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 800;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer-links .return-to-top:hover {
    color: var(--link-color);
    background-color: var(--bu-color);
    transform: scale(1.05);
}

.return-to-top i {
    margin-right: 8px;
}

.footer-partner {
    background: var(--main-color);
    width: 100%;
    padding: 2rem 2rem;
}

/* Partner Section Styles */
.partner {
    text-align: center;
    margin: 10px 0;
}

.partner h4 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--link-color);
    margin-bottom: 15px;
}

.partner-slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.partner-wrapper {
    display: flex;
    width: calc(200px * 10);
    animation: slide 50s linear infinite;
}

.partner-wrapper img {
    width: auto;
    height: 80px;
    margin: 0 10px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.partner-wrapper {
    animation: slide 30s linear infinite;
}

.partner-wrapper:hover {
    animation-play-state: paused;
}

.footer-world {
    background: var(--text-shadow);
    width: 100%;
    padding: 2rem 2rem;
}

.footer-widget,
.footer-blog,
.footer-responsibility {
    border-left: 4px solid var(--link-color);
    padding-left: 15px;
    margin-bottom: 30px;
}

.footer-widget h4,
.footer-blog h3,
.footer-responsibility h3 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--link-color);
    margin-bottom: 15px;
}

.footer-widget p, 
.footer-responsibility p{
    font-size: 0.98rem;
    text-align: justify;
    line-height: 1.5;
    color: var(--text-color);
}

.cool-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cool-list li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}

.cool-list a {
    text-decoration: none;
    color: var(--bg-color);
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.cool-list i {
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 50%;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.cool-list a:hover {
    color: var(--text-color);
}

.cool-list a:hover i {
    background-color: var(--text-color);
    color: var(--link-color);
}

.footer-careers,
.footer-investor,
.footer-accessibility {
    border-left: 4px solid var(--link-color);
    padding-left: 15px;
    margin-bottom: 30px;
    color: var(--text-color);
}

.footer-careers h3,
.footer-investor h3,
.footer-accessibility h3 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--link-color);
    margin-bottom: 10px;
}

.footer-careers p,
.footer-investor p,
.footer-accessibility p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
}

.footer-careers a,
.footer-investor a,
.footer-accessibility a {
    color: var(--bg-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-careers a:hover,
.footer-investor a:hover,
.footer-accessibility a:hover {
    color: var(--text-color);
    /* Change to white on hover */
}

/* Footer Bottom Styles */
.footer-bottom {
    background-color: var(--hd-color);
    text-align: center;
    padding: 20px 0;
    color: var(--text-color);
    font-size: 12px;
}

.footer-bottom p {
    margin: 0;
    font-weight: 400;
}