<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nexora - Your go-to e-commerce platform">
    <meta name="keywords" content="e-commerce, online shopping, web3, crypto">
    <title>Nexora</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    {% block stylecss %}

    {% endblock stylecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <!-- Preconnect to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Poppins Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Additional Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header class="header">
        <nav class="navbar header-top navbar-expand-lg">
            <div class="logo-container">
                <a href="/" class="logo-box">
                    <div class="logo-octahedron">
                        <div class="face front"><i class="fas fa-shopping-cart"></i></div>
                        <div class="face back"><i class="fab fa-bitcoin "></i></div>
                        <div class="face right"><i class="fas fa-shipping-fast"></i></div>
                        <div class="face left"><i class="fas fa-wallet"></i></div>
                        <div class="face top"><i class="fas fa-globe"></i></div>
                        <div class="face bottom"><i class="fab fa-ethereum"></i></div>
                    </div>
                    <div class="logo-x">
                        <span class="logo-text">Nexora</span>
                        <div class="logo-icon"></div>
                    </div>
                </a>
            </div>
            <div class="search-bar-container">
                <div class="search-bar">
                    <div class="nav-fill">
                        <div id="nav-search">
                            <form id="nav-search-bar-form" method="GET" role="search" title="Search in">
                                <select class="option-bar nav-left" id="searchDropdownBox" name="url">
                                    <option value="all">All Collection</option>
                                    <option value="search-alias=arts-crafts-intl-ship">Arts &amp; Crafts </option>
                                    <option value="search-alias=automotive-intl-ship">Automotive</option>
                                    <option value="search-alias=baby-products-intl-ship">Baby</option>
                                    <option value="search-alias=beauty-intl-ship">Beauty &amp; Personal Care</option>
                                    <option value="search-alias=stripboo50ks-intl-ship">Books </option>
                                    <option value="search-alias=electronics-intl-ship">Computers &amp; Electronics
                                    </option>
                                    <option value="search-alias=electronics-intl-ship">Digital Music </option>
                                    <option value="search-alias=fashion-female-intl-ship">Female's Fashion</option>
                                    <option value="search-alias=tools-intl-ship">Gift Card </option>
                                    <option value="search-alias=hpc-intl-ship">Health &amp; Household </option>
                                    <option value="search-alias=kitchen-intl-ship">Home &amp; Kitchen </option>
                                    <option value="search-alias=industrial-intl-ship">Industrial &amp; Scientific
                                    </option>
                                    <option value="search-alias=fashion-male-intl-ship">Male's Fashion </option>
                                    <option value="search-alias=movies-tv-intl-ship">Movies, Games &amp; Music</option>
                                    <option value="search-alias=software-intl-ship">Software </option>
                                    <option value="search-alias=sporting-intl-ship">Sports &amp; Outdoors </option>
                                    <option value="search-alias=tools-intl-ship">Tools &amp; Improvement
                                    </option>
                                </select>
                                <div class="nav-fill">
                                    <label for="searchDropdownBox" class="sr-only">Search Categories</label>
                                    <label for="nav-search-input" class="sr-only">Search Nexora</label>
                                    <input type="text" id="nav-search-input" name="field-keywords"
                                        placeholder="Search Nexora" class="nav-input" dir="auto">
                                    <div class="nav-right">
                                        <button type="submit" class="nav-search-submit"><i
                                                class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-nav">
                <a href="/cart/cart.html?ref_=nav_cart" aria-label="0 items in cart"
                    class="nav-a nav-a-2 nav-progressive-attribute" id="nav-cart">
                    <div id="nav-cart-count-container">
                        <span id="nav-cart-count" aria-hidden="true"
                            class="nav-cart-count nav-cart-0 nav-progressive-attribute nav-progressive-content">0</span>
                        <span class="nav-cart-icon nav-sprite"><i class="fas fa-shopping-cart"></i></span>
                    </div>
                    <div id="nav-cart-text-container" class="nav-progressive-attribute">
                        <span aria-hidden="true" class="nav-line-1">Your</span>
                        <span aria-hidden="true" class="nav-line-2">Cart <span class="nav-icon nav-arrow"></span></span>
                    </div>
                </a>
                <div class="language-dropdown">
                    <button class="language-button" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-globe"></i>
                        <span id="language-code">ENG</span> <!-- Language code placeholder -->
                    </button>
                    <div class="language-content dropdown-content">
                        <a href="#" data-lang="ENG">English</a>
                        <a href="#" data-lang="ESP">Español</a>
                        <a href="#" data-lang="FRA">Français</a>
                        <a href="#" data-lang="DEU">Deutsch</a>
                        <a href="#" data-lang="CHI">中文</a>
                        <a href="#" data-lang="JPN">日本語</a>
                        <a href="#" data-lang="KOR">한국어</a>
                        <a href="#" data-lang="POR">Português</a>
                        <a href="#" data-lang="RUS">Русский</a>
                    </div>
                </div>
                <div class="nav-right">
                    <div class="settings-dropdown">
                        <div id="settings-button" class="settings-button">
                            <a href="/setting" role="menuitem"><i class="fas fa-cog"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-dark header-bottom">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bottomNavbar"
                    aria-controls="bottomNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bottomNavbar">
                    <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0 nav-middle">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Application</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Today's Deals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Customer Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Testimonial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Buy Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Service</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Crypto</a></li>
                                <li><a class="dropdown-item" href="#">Gift Card</a></li>
                                <li><a class="dropdown-item" href="#">Sells</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="user-bar">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/signup"><span>Signup</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %} {% endblock content %}
    </main>
    <footer class="text-center py-1">
        <div class="container">
            <p>&copy; 2024 E-commerce Store. All rights reserved.</p>
        </div>
    </footer>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
